@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100%;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.mock p {
  color: #919191;
}

button,
a {
  padding: 1% 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  word-break: keep-all;
  width: max-content;
}

.btn-grp button:hover {
  filter: brightness(90%);
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* nav button {
  width: max-content;
  height: fit-content;
  padding-left: 5%;
  padding-right: 5%;
}
.nav-btn {
  width: max-content;
  height: -webkit-fill-available;
  padding-left: 5%;
  padding-right: 5%;
} */

.car-bg {
  background-image: url("/background.jpeg");
  background-repeat: no-repeat;
  filter: brightness(90%);
  object-fit: scale-down;
  /* background-size: cover; */
  /* height:80%; */
  width: 100%;
}

.img-card {
  width: 500px !important;
  display: flex;
}

.pill {
  background-color: #68d391;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  width: fit-content;

  padding: 1.5vh 2vh;
  min-width: fit-content;
}

.procedure-step {
  /* font-family:; */
  letter-spacing: 0.3rem;
  font-weight: 300;
  font-size: 4.0rem;
  line-height: 1;
  padding: 1.25rem 0;
  margin-top: 0; 
  position: relative;
}

.procedure-title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
}
